main {
    text-align: center;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}